//registry.npmjs.org/:_authToken=${NPM_TOKEN}
scope=myers
@myers:registry=https://registry.npmjs.org/
init.author.name=Courtney Myers
init.author.email=courtney.aaron.myers@gmail.com
init.author.url=github.com/courtneymyers
init.version=0.1.0
save=true
save-exact=true
